.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) { 
        /* accessibility */
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 90px;
  display: flex;
  color: white;
}
.logo img {
  width: 200px;
  height: 90px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.FindOut {
  width: 600px;
  margin: 45px auto 0px auto;
  position: relative;
}
.seach {
  display: block;
  margin: 0 auto;
  width: 300px;
  min-height: 40px;
  font-size: 20px;
  color: #4a5699;
  border: 2px solid rgba(196, 95, 160, 0.7);
  border-radius: 4px;
}
.seach:focus {
  outline: none;
  outline-offset: none;
  border: 2px solid rgba(196, 95, 160, 1);
}
#check {
  appearance: none;
  margin: 20px auto 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(196, 95, 160, 0.7);
  display: grid;
  place-content: center;
  position: relative;
  left: -114px;
  top: 30px;
}
#check::before {
  content: "";
  width: 20px;
  height: 20px;
  transform: scale(0, 0);
  transition: 200ms transform ease;
  background-color: #C45FA0;
  border-radius: 4px;
}
#check:checked::before {
  transform: scale(1, 1);
}
#check:checked {
  border: 1px solid rgba(196, 95, 160, 1);
}
.labelCheck {
  margin-left: 15px;
  font-size: 24px;
  color: #282C34;
  position: relative;
  left: 13px;
}



.Store {
  width: 1200px;
  margin: 70px auto;
}
.table {
  margin: 0 auto;
  font-size: 24px;
  border-spacing: 0;
}
.table thead th {
  width: 320px;
  font-size: 36px;
  border-bottom: 1px solid #4A5699;
}
.table tbody tr {
  height: 45px;
}
.table tbody th {
  padding: 20px 0 20px 0;
}
.table tbody td:nth-child(odd) {
  border-right: 1px solid #F0D043
}
.stocked {
  color: #E5594F;
}

